*{
    margin: 0;
    padding: 0;
}
/* stili generali */
:root{
    font-size: 14px;
}



/* stile header */
header{
background-size: contain;
background-image: url(file:///C:/Users/auror/OneDrive/Desktop/esercizi%20boolean/html-css-booleaner/img/pattern.png);
background-color:rgb(72, 166, 225);

}
header img{
   width: 100px;
   margin-top: 30px;
   margin-bottom: 10px;
}

/* stile main */


/* stile footer */