*{
    margin: 0;
    padding: 0;
}
/* stili generali */
:root{
    font-size: 14px;
   
}



/* stile header */
header{
background-size: contain;
background-image: url(file:///C:/Users/auror/OneDrive/Desktop/esercizi%20boolean/html-css-booleaner/img/pattern.png);
background-color:rgb(72, 166, 225);

}
header img{
   width: 100px;
   margin-top: 30px;
   margin-bottom: 10px;
   margin-left: 5px;
}



/* stile main */
main{
    width: 67%;
    margin-left: 5px;
}

/* stile prima sezione */
   
h4{
   font-size: 10px;
   color: rgb(166, 162, 162);
   margin-top: 5px;
}
h4 span{
    color: rgb(72, 166, 225);
}
#prima_sezione p{
 font-style: italic;
 font-size: 10px;
 margin-bottom: 10px;
}
 
/* stile seconda sezione */

.paragrafo{
    margin-top: 20px;
}
.paragrafo span{
    
    background-color: yellow;
}

ul{
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* terza sezione */
table{
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

   th{
   background-color:rgb(72, 166, 225) ;
   }

 .terza_colonna{
    width: 50%;
 }
 .riga_celeste{
    background-color: lightskyblue;

 }


/* stile footer */

footer h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.conteiner{
position: relative;
width: 50%;

    
}

.titlePhoto{
    color: white;
    font-size: 40px;
    position: absolute;
    left: 30px;

}